.social-media a:hover {
    color: red;
}


.quick-links li {
    list-style: none;
}

.quick-links a {
    color: white;
    text-decoration: none;
}

.quick-links a:hover {
    color: red;
}


/* scrollbar */
    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* scrollbar */
